#Contact {
	background-color: var(--black);
	color: var(--white);
	padding: var(--doc-pad);
}

#Contact a {
	color: var(--white);
	text-decoration: underline;
}

#Contact .initials {
	color: var(--white);
	font-size: 1.1em;
	text-align: center;
}
