:root {
	--main-color: #561df0;
	--grey: #f0f0f0;
	--black: #151515;
	--white: #fefefe;
	--dark-grey: #646464;
	--doc-pad: 1em;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: "Montserrat Alternates", sans-serif;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

a {
	text-decoration: none;
}

.initials {
	text-transform: uppercase;
	font-weight: bold;
}

@media only screen and (min-width: 768px) {
	:root {
		--doc-pad: 2em;
	}

	body {
		font-size: 22px;
	}
}
